---
layout: default
---


{% include career-profile.html %}

{% include experiences.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% unless site.data.data.sidebar.certificates %}
  {% include certificates.html %}
{% endunless %}

{% include conferences.html %}

{% include interests.html %}

<!-- {% include projects.html %} -->

<!-- {% include publications.html %} -->

{% unless site.data.data.sidebar.skills %}
  {% include skills.html %}
{% endunless %}
