<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}

    {% if sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">{{ sidebar.twitter }}</a>
    </li>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">{{ sidebar.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if sidebar.hacker-rank %}
    <li><i></i>
      <a href="https://www.hackerrank.com/{{ sidebar.hacker-rank }}" class="fab" target="_blank">HackerRank</a>
    </li>
    {% endif %}

    {% if sidebar.tau %}
    <li>
      <a href="https://testautomationu.applitools.com/me.html#{{ sidebar.tau }}" class="fab" target="_blank">TestAutomationU</a>
    </li>
    {% endif %}

    <li><i class="fas">CV</i>
      {% assign files = site.data.data.sidebar.files %}
      {% if sidebar.files %}
        {% for file in files %}    
          {% if file.type == "PDF" %}
            <a href="{{ file.path }}" class="fas fa-file-pdf" title="PDF" target="_blank"></a>
          {% elsif file.type == "MSWord" %}
            <a href="{{ file.path }}" class="fas fa-file-word" title="MS Word"></a>
          {% else %}
            <a href="{{ file.path }}" class="fas fa-file-alt" title="Pages"></a>
          {% endif %}
        {% endfor %}
      {% endif %}

  </ul>
</div><!--//contact-container-->
