{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <!-- <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" /> -->
    <img class="avatar" src="https://s.gravatar.com/avatar/c184709c01d2dde26f7d127ae218e496?s=80" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}
  
  {% if sidebar.certificates %}
    {% include certificates.html %}
  {% endif %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}

  {% if sidebar.skills %}
    {%include skills.html%}
  {% endif %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
