{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <!-- <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" /> -->
    <img class="avatar" src="https://gravatar.com/userimage/58330649/9f7736fadc23e8088df1c47341758af6.jpeg?size=500" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}
  
  {% if sidebar.certificates %}
    {% include certificates.html %}
  {% endif %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  
  {% if sidebar.interests %}
    {% include interests.html %}
  {% endif %}

  {% if sidebar.skills %}
    {%include skills.html%}
  {% endif %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
